.ArrowButton {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #61dafb;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 150ms;
}

.ArrowButton:hover {
    opacity: 1;
}