.SearchBar {
    left: 0;
    right: 0;
    margin: 15px auto;
    min-width: 300px;
    width: 40%;
    height: 40px;
    position: absolute;
    background-color: #E0E0E0A0;
    z-index: 1;
    border-radius: 20px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    cursor: auto;
    display: flex;
}

.SearchBar img {
    display: inline-block;
    height: 100%;
}

.SearchBar input {
    border: none;
    padding: 0;
    background-color: transparent;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    top: 0;
}

.SearchBar input:focus {
    outline: none;
}